
.modal-content {
    display: flex;
    flex-direction: column;
    gap: min(calc(24 / 1200 * 100vw), 24px);
    align-items: center;
    width: 100%;
}

.modal-window {
    transform: translateX(-50%);
    left: 50%;
    border-radius: 40px;
    width: calc(484 / 1200 * 100vw);
    max-width: 484px;
    height: max(calc(674 / 1200 * 100vw), 600px);
    max-height: 674px;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding-top: min(calc(49 / 1200 * 100vw), 49px);
    position: relative;
    top: 10px;
}

.modal-errors {
    height: 674px;
}

.modal-order {
    right: 30px;
    top: 28px;
}

@media (max-width: 880px) {
   
    .modal-content {
        gap: calc(24 / 880 * 100vw);
    }
    
    .modal-window {
        width: max(calc(484 / 880 * 100vw), 336px);
        top: min(3vw, 120px);
        padding-top: max(calc(49 / 880 * 100vw), 30px);
        max-height: 674px;
        height: max(calc(674 / 880 * 100vw), 640px);
    }


    .modal-errors {
        min-height: 674px;
    }
    
}

@media (max-width: 510px) {
    .modal-window {
        border-radius: 10px;
        height: max(calc(620 / 510 * 100vw), 580px);
        top: 10px;

    }

    .modal-errors {
        min-height: 600px;
    }
    .modal-order {
        right: 20px;
        top: 20px;
    }

  
}

@media (max-width: 376px) {
   
    
    .modal-window {
        width: max(calc(336 / 376 * 100vw), 280px);
    }


}
