.menu-footer {
    display: flex;
    padding-top: 92px;
    padding-bottom: 44px;
    padding-left: min(calc(20 / 1200 * 100vw), 20px);
    gap: min(calc(140 / 1200 * 100vw), 140px);
    max-width: 1050px;
    width: calc(1050 / 1200 * 100vw);
}