.input-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    
}

.light {
    background-color: var(--text-color);
}

.dark {
    background-color: var(--title-color);
}