
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 18px 10px 20px;
}

.list-item:hover rect {
    fill: var(--active-color);
}

.border-item {
    border: none;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #606060 46.5%, rgba(255, 255, 255, 0) 97.5%);
    border-image-slice: 1;
    border-image-width: 0 0 2px 0;
}

.category {
    font-weight: 400;
    font-size: clamp(14px, calc(18 / 1200 * 100vw), 18px);
    color: var(--text-color);
}