.pop-products {
    display: flex;
    flex-direction: column;
}

.pop-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 64px;
    column-gap: 16px;
}

.add-item {
    margin: 0 auto;
}