.modal-content {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.modal-content img {
    max-width: 65px;
    max-height: 65px;
    width: (65 / 1200 * 100vw);
    height: (65 / 1200 * 100vw);
    position: absolute;
    right: 27px;
    bottom: 16px;
}

.modal-window {
    transform: translateX(-50%);
    background-color: var(--text-color);
    top: 30%;
    left: 50%;
    border-radius: 10px 10px 40px 10px;
    width: calc(510 / 1200 * 100vw);
    max-width: 510px;
    min-height: 188px;
    position: relative;
    display: flex;
    padding-bottom: 54px;
    padding-top: 45px;
    padding-left: 24px;
}