.card-input {
	width: 100%;
	padding: 6px 10px;
	font-size: 16px;
	font-weight: 400;
	color: #1a1a1a;
	background-color: #d6d3d3;
	border: none;
	height: 32px;
}

.errors {
	border: 2px solid var(--delete);
}

.card-input::placeholder {
	color: #9f9f9f;
}

.card-input:focus {
	border: 1px solid var(--focus-link);
}

.light {
	border-radius: 4px;
	background-color: #f1f1f1;
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	color: #1e1e1e;
}
