.card-input {
    width: 100%;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #1A1A1A;
    background-color: #D6D3D3;
    border: none;
    height: 32px;
}

.errors {
    border: 2px solid var(--delete);
}

.card-input::placeholder {
    color: #9F9F9F;
}

.card-input:focus {
    border: 1px solid var(--focus-link);
}

.light {
    border-radius: 4px;
    background-color: #F1F1F1;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #1E1E1E;
}
