.product-items {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    max-width: 880px;
    width: calc( 880 / 1200 * 100vw);
}

.catalog {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
}

.catalog-body {
    display: flex;
    gap: 32px;
}

@media (max-width: 880px) {
    .product-items {
        max-width: 800px;
        width: calc( 800 / 880 * 100vw);;
    }
}
