.contacts__header {
    display: flex;
    align-items: center;
    gap: min(calc(30 / 1200 * 100vw), 30px);
}

.link-menu {
    gap: min(calc(40 / 1200 * 100vw), 40px);
}

.nav-footer {
    gap: min(calc(24 / 1200 * 100vw), 24px);
    max-width: 724px;
    width: calc(724 / 1200 * 100vw);
}