.lending-title {
    color: #0B0B0B;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 880px) {
    .lending-title {
        font-size: max(calc(32 / 880 * 100vw), 20px);
    }
}