.product-image {
    max-width: 148px;
    width: 148px;
    max-height: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
   
}