.product-image {
    width: 148px;
    max-height: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%; 
}