.back-btn {
    background: none;
    min-height: auto;
    position: absolute;
    
    left: min(calc(131 / 1200 * 100vw), 131px);
    top: min(calc(17 / 1200 * 100vw), 17px);
}

.back-btn:hover .back-content {
    color: #848484;
}

.back-btn:hover rect {
    fill: #848484;
}

.back-content {
    display: flex;
    gap: 9px;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #999;
}

@media (max-width: 880px) {
    .back-btn {
        top: calc(17 / 880 * 100vw);
        left: calc(70 / 880 * 100vw);
    }

    .back-content {
        font-size: calc(20 / 880 * 100vw);
    }
    
}

@media (max-width: 510px) {
    .back-btn {
   
        left: calc(60 / 510 * 100vw);
    }

}