.main {
    width: 100%;
    display: flex;
    flex: 1;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    position: relative;
}

.main section {
    width: 100%;
}

@media (max-width: 880px) {
    .main {
        padding: max(calc(44 / 880 * 100vw), 24px) 0;
    }
}

