.header {
    padding: 24px 44px;
    background-color: var(--primary-bgc2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    gap: 12px;
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);
}

.logo {
    color: var(--active-color);
}