.pop-card {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.item-selector {
    width: 488px;
}

.product-items {
    display: flex;
    gap: 120px;
}

.action-btns {
    display: flex;
    margin-top: 32px;
    align-self: center;
    gap: 238px;
}

