.text-footer {
    font-weight: 400;
    font-size: 10px;
    color: var(--text-color);
}

@media (max-width: 880px) {
    .text-footer {
        font-size: 18px;
    }
}

@media (max-width: 568px) {
    .text-footer {
        font-size: 10px;
    }
}