.modal-textarea {
    padding: 13px 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    font-weight: 400;
    font-size: clamp(14px, calc(16 / 1200 * 100vw), 16px);
    color: var(--default-color);
    resize: none;
    height: 80px;
}


.modal-textarea:focus {
    outline: none;
    border: 1px solid #1A50DA;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: clamp(14px, calc(16 / 1200 * 100vw), 16px);
    color: #444;
}

@media (max-width: 880px) {
    .modal-textarea {
        font-size: clamp(12px, calc(16 / 880 * 100vw), 16px);
    }
    
    .modal-textarea::placeholder {
       font-size: clamp(12px, calc(16 / 880 * 100vw), 16px);
    }
    
}


@media (max-width: 510px) {
    .modal-textarea {
        min-height: 100px;
        padding: 10px;
    }
}