.media-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 58px;
    max-width: 58px;
    width: calc(58 / 880 * 100vw);
    height: calc(58 / 880 * 100vw);
    background-color: #626262;
    border-radius: 10px;
}

.media-btn img, .media-btn svg {
    width: max(calc(38 / 880 * 100vw), 23px);
    height: max(calc(38 / 880 * 100vw), 23px);
    max-width: 38px;
    max-height: 38px;
}

@media (max-width: 600px) {
    .media-btn {
        max-height: 42px;
        max-width: 42px;
        width: calc(42 / 600 * 100vw);
        height: calc(42 / 600 * 100vw);
    }
}

@media (max-width: 568px) {
    .media-btn {
        height: 40px;
        width: 40px;
    }
}