.add-btn {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    display: flex;
}

.rect {
    background-color: #989898;
    border-radius: 40px;
    justify-content: space-between;
    padding: 16px 20px;
    padding-left: 36px;
    width: 252px;
    align-items: center;
}

.rect svg {
    width: 26px;
    height: 26px;
}

.circle {
    background-color: #F3F3F3;
    border-radius: 50%;
    max-width: max-content;
    padding: 35px;
    display: flex;
    align-items: center;
}

.circle:hover {
    background-color: var(--active-color);
}

.rect:hover {
    background-color: var(--active-color);
}