:root {
    --main-font: "Noto Serif", "Exo", "Inter", serif;
    --btn-success: #40d128;
    --primary-bgc: #333333; 
    --text-color: #fff;
    --text-color2: #e6e6e6;
    --text-color3: #CCCCCC;
    --primary-bgc2: #1D1D1D;
    --active-color: #DA5F1A;
    --default-color: #000;
    --border-color: #8E8E8E;
    --error: #F44848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    outline: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    height: 100%;
}
