.order-btn {
    width: calc(212 / 1200 * 100vw);
    max-width: 212px;
    border: none;
    border-radius: 10px;
    background-color: var(--btn-success);
    font-weight: 700;
    font-size: clamp(16px, calc(20 / 1200 * 100vw), 20px);
    color: #1d1d1d;
    cursor: pointer;
    caret-color: transparent;
    height: 44px;
}

.order-btn:hover {
    font-weight: 900;
}

.search-btn {
    border-radius: 0 10px 10px 0;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    background-color: #fff;
    outline: none;
}

.search-btn:hover {
    background-color: #EBEBEB;
}

.catalog {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 min(calc(25 / 1200 * 100vw), 25px);
    gap: min(calc(12 / 1200 * 100vw), 12px);
    margin: 0;
    border-radius: 2px;
    background: #424242;
    cursor: pointer;
    font-weight: 700;
    font-size: clamp(16px, calc(18 / 1200 * 100vw), 18px);
    color: var(--text-color);
    text-transform: uppercase;
    border: 1px solid transparent;
}

.catalog:hover {
    border: 1px solid var(--active-color);
    color: var(--active-color);
}

.catalog:hover rect {
    fill: var(--active-color);
}
