.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: min(calc( 24 / 1200 * 100vw), 24px);   
}

@media (max-width: 1200px) {
    .products-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}

@media (max-width: 670px) {
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 510px) {
    .products-list {
        grid-template-columns: repeat(1, 1fr);
    }
}